.selectWeatherInfo-wrapper {
  @apply w-full flex items-center justify-evenly h-auto py-4;
}

.selectWeatherInfo-block {
  @apply w-3/12 h-40 rounded-3xl opacity-75 text-2xl;
  @apply flex justify-center items-center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 0.5px 0.5px rgb(0, 0, 0), -0.5px -0.5px 0 rgb(0, 0, 0), 0.5px -0.5px 0 rgb(0, 0, 0), -0.5px 0.5px 0 rgb(0, 0, 0);
    transition: outline 0.3s;
    &:hover {
      outline: 2px solid white;
    }
}

.selectWeatherInfo-block-clouds {
  background-image: url("./assets/images/clouds.jpg");
  background-size: cover;
}

.selectWeatherInfo-block-temp {
  background-image: url("./assets/images/temp.jpg");
  background-size: cover;
}

.selectWeatherInfo-block-hum {
  background-image: url("./assets/images/hum.jpg");
  background-size: cover;
}
